
#personal-info {
            text-align: center;
            line-height: 12px;
        }

body {
margin: 100;
background-image: url(/IMAGE/Abstract\ Pink\ and\ White\ Phone\ Wallpaper.jpg);
}



#character-refernce {
            width: 100%;
            border-collapse: separate;
            margin-top: 10px;
        }
#character-reference th, #character-reference td {
            border: 1px solid rgb(78, 18, 8);
            padding: 8px;
            text-align: center;
        }
#character-reference th {
            background-color: rgb(157, 173, 133);
        }
#character-reference td {
            background-color: rgb(157, 173, 133);
        }

@font-face {
    font-family: 'ewan';
    src: url(/IMAGE/Mistys\ Relrica\ DEMO\ VERSION.otf);
}



h1
{
    font-family: 'ewan',sans-serif;
    color: rgb(78, 10, 11);
}

p
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:normal;
    font-size: medium;
    text-decoration: none;
}

#maincontainer
{
    border: 1px solid rgb(16, 16, 142);
    background-color: #faf1ca;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

.c1
{
    font-weight: 500;
    color: rgb(16, 16, 142);
}

#linkstyling
{
    text-decoration: none;
}
a:link{
    color: rgb(48, 24, 21);
}
a:visited{
    color: rgb(78, 18, 8);
}
a:hover{
    color: rgb(110, 4, 94)
}
a:active{
    color:#3e2723
}
#top-nav {
            text-align: center;
            margin-bottom: 20px;
            text-decoration-line: none;
            color: rgb(104, 130, 248);
        }
