#top-nav {
            text-align: center;
            margin-bottom: 20px;
            text-decoration-line: none;
            color: rgb(130, 3, 9);
        }

body
{
    margin: 150px;
background-image: url(/IMAGE/bg.jpg);
}

#personal-info {
            text-align: center;
            line-height: 15px;
        }

@font-face {
    font-family: 'ewan';
    src: url(/font/Aurora.otf);
}


h1
{
    font-family: 'ewan';
    color: rgb(78, 18, 8);
    text-decoration: none;
    text-size-adjust: 50px;
}

p
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:normal;
    font-size: medium;
    text-decoration: none;
}

#maincontainer
{
    border: 1px solid rgb(0, 0, 0);
    background-color: #faf1ca;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

.c1
{
    font-weight: 500;
    color: rgb(16, 16, 142);
}

#linkstyling
{
    text-decoration: none;
}
a:link{
    color: rgb(231, 6, 70);
}
a:visited{
    color: rgb(222, 34, 222);
}
a:hover{
    color: rgb(124, 10, 29)
}
a:active{
    color:rgb(176, 16, 144)
}